.wonderful-button-container {
    width: 150px;
    height: 40px;
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: -1px 2px 12px -5px rgba(0,0,0,1);
}

.other-side {
    width: 300px;
    height: 300px;
    position: absolute;
    transform: translate(-180px, -200px) rotate(35deg);
}

.main-container {
    position: relative;
    cursor: pointer;
}

.text {
    position: absolute;
    top: 17%;
    left: 15%;
}

.icon {
    position: absolute;
    right: 12%;
    top: 27%;
}
